:root{
    --font-weight-medium:500;
    --font-weight-bold: 700;
    --txt-color:#333333;
    
}

*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
    url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
    url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:
    url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

header{
    max-width: 100%;
    background-image: url("../images/header-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-box{
    display: flex;
    padding: 40px 0;
}

.site-img-link{
    margin-right: auto;
}

.navigation-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-item{
    margin-right: 40px;
}

.navigation-link{
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--txt-color);
}

.first-sectoin{
    margin-bottom: 20px;
    background-image: url("../images/first-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-box{
    display: flex;
    justify-content: space-between;
}

.first-section-box-left{
    max-width: 464px;
    margin-left: 100px;
    padding-top: 100px;
}

.first-section-right{
    position: relative;
    left: 63px;
    width: 710px;
    height: 696px; 
}

.first-section-right::before{
    position: absolute;
    top: calc(-10%);
    left: calc(-10%);
    display: block;
    width: 160px;
    height: 160px;
    background-image: url("../images/circle-imgg.png");
    background-size: contain;
    content: "";
}

.site-main-txt{
    margin-bottom: 24px;
    font-weight: var(--font-weight-bold);
    font-size: 64px;
    line-height: 75px;
    color: #000000;
}

.txt-more{
    margin: 0;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.btn{
    display: inline-block;
    padding: 16px 24px;
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #0A775F;
    border-radius: 100px;
}

.second-section{
    margin: 20px;
    background-image: url("../images/white-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.second-box{
    max-width: 100%;
}

.collection-main-txt{
    margin: 0;
    padding-top: 50px;
    font-weight: var(--font-weight-bold);
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps; 
    color: #000000;
}

.collection-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.collection-item:nth-child(1){
    margin-top: 80px;
}

.collection-item:nth-child(1)::before{
    position: absolute;
    top: calc(10% - 199px);
    left: calc(10% - 319px);
    display: block;
    width: 371px;
    height: 371px;
    background-image: url("../images/left-leaves.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.collection-item:nth-child(2)::before{
    position: absolute;
    top: 90%;
    left: 90%;
    display: block;
    width: 423px;
    height: 409px;
    background-image: url("../images/right-bottom-leaves.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.collection-item:nth-child(3)::before{
    position: absolute;
    top: 90%;
    right: 90%;
    display: block;
    width: 371px;
    height: 316px;
    background-image: url("../images/Vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.collection-item:nth-child(even){
    flex-direction: row-reverse;
}

.collection-txt-box{
    margin-left: 117px;
    width: 453px;
}

.collection-txt{
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--txt-color);
}

.collection-txt-more{
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: var(--txt-color);
}

.section-choose{
    position: relative;
    width: 97%;
    margin: 20px;
    background-image: url("../images/section-img2.png");
    background-position: center;
    background-size: cover;
}

.choose-txt-box{
    width: 581px;
    margin: 0 auto;
    padding: 50px 0 500px;
    
}

.choose-title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: var(--font-weight-bold);
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase; 
    color: #fff;
}

.choose-more{
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #fff;  
    mix-blend-mode: normal;
    opacity: 0.8;
}

.choose-list{
    position: absolute;
    top: calc(40%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-list-item{
    position: relative;
    width: 433px;
    margin-right: 10px;
}

.choose-list-item:nth-child(1)::before{
    position: absolute;
    top: calc(-10%);
    left: calc(-10%);
    display: block;
    width: 128px;
    height: 135px;
    background-image: url("../images/cofe-icon-left.svg");
    background-size: contain;
    content: "";
}

.choose-txt{
    font-weight: var(--font-weight-medium);
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: var(--txt-color);
    
}

.choose-txt-more{
    width: 377px;
    font-size: 18px;
    line-height: 28px;
    color: var(--txt-color);
}

.company-works{
    width: 99%;
    height: auto;
    margin: 20px;
    margin-top: 280px; 
    margin-bottom: 50px; 
    padding: 50px 20px;
    background-image: url("../images/section-img3.png");
    background-position: center;
    /* background-size: cover; */
}

.works{
    position: relative;
    margin-bottom: 80px;
    text-transform: uppercase;
    color: #fff;
}

.works::after{
    position: absolute;
    top: calc(50%);
    right: calc(3%);
    display: block;
    width: 192px;
    height: 129px;
    background-image: url("../images/cofe-icon-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.cubic-box{
    display: flex;
    align-items: center;
}
.cubic-mini{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background-color: #F8F8F2;
    border: 4px solid #C99B67;
}

.cubic-border{
    width: 333px;
    margin-bottom: 16px;
    border-top: 1px dashed #C99B67;
}

.company-works-list{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.company-works-list-item{
    width: 433px;
    margin-right: 20px;
    padding: 20px 25px 40px;
    background-color: #F8F8F2;
}

.small{
    display: block;
    margin-bottom: 45px;
    text-align: right;
    font-size: 64px;
    line-height: 75px;
    font-variant: small-caps;
    color: var(--txt-color);
    opacity: 0.8;
}

.company-works-item-strong{
    font-weight: var(--font-weight-medium);
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: var(--txt-color);
}

.btn-plan-box{
    text-align: center;
}

.btn-plan{
    width: 193px;
    padding: 16px 24px;
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
    background-color: #C99B67;
    border-radius: 100px;
}

footer{
    max-width: 100%;
    padding: 68px 0;
    background-image: url("../images/header-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    margin: 0;
}

.social-list{
    display: flex;
    
}

.social-item{
    margin-right: 30px;
}

/* ABOUT PAGE'S STYLES */

.wrap{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 165px;
}

.collection-main-box::before{
    position: absolute;
    top: calc(40% - 171px);
    left: calc(1% - 368px);
    display: block;
    width: 371px;
    height: 371px;
    background-image: url(../images/left-leaves.svg);
    content: "";
}

.about-box{
    width: 662px;
    margin-left: 185px;
    padding-top: 160px;
    padding-bottom: 200px;
    
}

.about-hero-title{
    font-weight: var(--font-weight-bold);
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #000;
    text-align: left;
}

.about-uncompromissing-section{
    margin-top: 160px;
    margin-bottom: 20px;
    padding: 100px 0;
}

.about-uncompromissing{
    position: relative;
    margin-left: 100px;
    padding: 0;
    
    
}

.smile-girl{
    position: absolute;
    top: calc(-10%);
    left: calc(57%);
}

.uncompromissing-title{
    display: inline-block;
    width: 397px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
}

.about-uncompromissing-more{
    width: 639px;
    font-size: 18px;
    line-height: 30px; 
    color: #FFFFFF; 
    mix-blend-mode: normal;
    text-align: left;
    opacity: 0.8;
}

.headquarters-section{
    margin-top: 0;
}

.works::after{
    display: none;
}

.headquarters-item{
    position: relative;
    padding: 0;
    padding: 140px 40px 20px;
}

.headquarters-item:nth-child(1){
    padding: 92px 40px 20px;
}

.headquarters-item::after{
    position: absolute;
    top: calc(40% - 114px);
    right: calc(90% - 345px);
    display: block;
    width: 120px;
    height: 143px;
    background-image: url(../images/uk.svg);
    content: "";
    
}

.headquarters-item:nth-child(2)::after{
    position: absolute;
    top: calc(40% - 114px);
    right: calc(90% - 345px);
    display: block;
    width: 120px;
    height: 120px;
    background-image: url(../images/canada.svg);
    content: "";
}

.headquarters-item:nth-child(3)::after{
    position: absolute;
    top: calc(40% - 104px);
    right: calc(90% - 345px);
    display: block;
    width: 120px;
    height: 107px;
    background-image: url(../images/australia.svg);
    content: "";
}

.headquarters-txt-box{
    width: 180px;
}

/* CREATE-PLAN PAGE'S STYLES */

.work{
    width: 97%;
    margin: 0;
    margin: 20px;
}

.radiobuttons{
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 121px;
    padding-right: 142px;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.radiobutton-box{
    display: flex;
    justify-content: space-between;
    
}

.form-vertical{
    display: flex;
    flex-direction: column;
    margin-right: 312px;
}

.left-radio-button{
    display: inline-block;
    margin-bottom: 35px;
    font-weight: var(--font-weight-medium);
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: #555555;
    
}

[type=radio] {
    position: absolute;
    opacity: 0;
}

[type=radio]+.left-radio-button {
    cursor: pointer;
}

[type=radio]:checked + .left-radio-button {
    color: #000;
    border-bottom: 3px dashed #C99B67;
    ;
}

.category-big-box{
    display: flex;
}

details{
    margin-bottom: 80px;
}

summary{
    position: relative;
    width: 695px;
    font-weight: var(--font-weight-bold);
    font-size: 38px;
    line-height: 47px;  
    text-transform: uppercase;
    color: #000000;
}

.summary::after{
    position: absolute;
    top: calc(-40% - 454px);
    right: calc(5% - 465px);
    display: inline-block;
    width: 423px;
    height: 409px;
    background-image: url(../images/right-bottom-leaves.svg);
    /* background-repeat: no-repeat; */
    content: "";
}


.category-box{
    width: 206px;
    margin-right: 20px;
    padding: 30px 33px 67px 17px;
    background-color: rgb(175, 174, 174);
    /* opacity: 0.2; */
} 

.category-heading{
    font-weight: var(--font-weight-medium);
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;  
    color: #fff;
}


.category-description{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    
    
}

[type=radio] {
    position: absolute;
    opacity: 0;
}

[type=radio] + .category-box {
    cursor: pointer;
}


[type=radio]:checked:focus + .category-box{
    background-color:#0A775F; 
    
}

.details{
    position: relative;
    padding: 40px 20px;
    background-color: #C99B67;
}

.details::before{
position: absolute;
left: calc(-90% - 195px);
width: 371px;
height: 371px;
background-image: url(../images/left-leaves.svg);
content: "";
}

.detail-small{
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.details-box-description{
    font-weight: var(--font-weight-medium);
    font-size: 24px;
    line-height: 34px;
    color: #fff;
}

.details-box-span{
    font-weight: var(--font-weight-medium);
    font-size: 24px;
    line-height: 34px;
    color:#333;
}

.plan-btn{
    position: relative;
    margin-top: 36px;
    margin-left: 71%;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #0A775F;
    
}

